*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: #777;
    text-align: center;
}

h1 {
    color: #f7f7f7;
    font-size: 4rem;
    margin-top: 2rem;
}

.status {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

    &__count {
    
    }

    &__score {

    }
}

.question {
    width: 60%;
    background-color: #f7f7f7;
    margin: 4rem auto;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(black, .4);

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 1.5px;
        color: #5643fa;
        padding-top: 1rem;
        max-width: 80%;
        margin: 0 auto;
    }

    &__answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
    }

    &__box {
        flex: 0 40%;
        position: relative;
    }

    i {
        font-size: 2.5rem;
        color: green;
    }

}


.btn-answers {
    background-color: #fff;
    color: #777;
    padding: .5rem 2rem;
    font-size: 2rem;
    border-radius: 10rem;
    border: 1px solid;
    outline: none;
    margin: .8rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, .4);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black, .4);
      }
}

.btn-new {
    display: block;
    padding: .8rem 2rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #ff7730;
    font-weight: 700;
    border-radius: 2rem;
    border: none;
    margin: 2rem auto;
    cursor: pointer;
    transition: all .2s;
    outline: none;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, .4);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black, .4);
      }
}

.correct {
    background-color: green;
    color: #fff;
    font-weight: 800;
}

.incorrect {
    color: red;
    font-weight: 800;
}

.btn-next {
    display: none;
    margin-bottom: 2rem;
    border: 1px solid;
    color: green;
}

.isVisible {
    display: block;
}



p {
    margin-top: 3rem;
    font-size: 2rem;
}