*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: lightgray;
    color: navy;
    text-align: center;
}

h1 {
    color: white;
}

h3 {
    margin: 5rem 0 5rem;
    font-size: 2rem;
}

.btn-style {
    display: block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.answers-box {
    
}